@import url('https://fonts.googleapis.com/css2?family=Prompt&family=Sriracha&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Prompt', sans-serif;
}

body {
  background: #88bcf8;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

.container {
  margin: 30px auto;
  width: 350px;
}

.horizontal-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #333;
  text-align: center;
  display: flex;
  justify-content: space-around;
}

.horizontal-menu li {
  display: inline-block;
}

.horizontal-menu a {
  color: white;
  text-decoration: none;
  padding: 16px;
  display: block;
}

h1 {
  color: #ea0707;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
}

.bttn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;

}



/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */